@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM STYLES */

.card-text-divider {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .25), rgba(0, 0, 0, 0));
}

/* Custom Input Component */
input.custom-input-base {
  border: none;
  appearance: none;
}

/* Send Prompt Button Tooltip Span */
.tooltip-wrapper {
  display: inline-block;
}

.custom-input-base {
  flex: auto;
  width: auto;
  text-align: left;
  align-items: center;
  height: 28px;
  padding: 0px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
  color: black;
  background-color: transparent;
}

.custom-input-error {
  color: red;
}

/* Custom Select Component */
.custom-select-base {
  flex: auto;
  width: auto;
  height: 36x;
  padding: 4px;
  border: 1px solid #ccc;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: black;
  background-color: transparent;
}

.custom-select-base:focus {
  border-color: transparent;
}

.custom-select-error {
  border-color: red;
}

.custom-select-error-message {
  color: red;
  font-size: 16px;
  line-height: 20px;
}