@tailwind base;
@tailwind components;
@tailwind utilities;

.card-background-yellow-blue-light {
  background-image: linear-gradient(to right, var(--yellow), var(--blue)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-blue-medium {
  background-image: linear-gradient(to right, var(--yellow), var(--blue)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-blue-dark {
  background-image: linear-gradient(to right, var(--yellow), var(--blue)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-purple-light {
  background-image: linear-gradient(to right, var(--yellow), var(--purple)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-purple-medium {
  background-image: linear-gradient(to right, var(--yellow), var(--purple)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-purple-dark {
  background-image: linear-gradient(to right, var(--yellow), var(--purple)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-red-light {
  background-image: linear-gradient(to right, var(--yellow), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-red-medium {
  background-image: linear-gradient(to right, var(--yellow), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-red-dark {
  background-image: linear-gradient(to right, var(--yellow), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-green-light {
  background-image: linear-gradient(to right, var(--yellow), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-green-medium {
  background-image: linear-gradient(to right, var(--yellow), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-yellow-green-dark {
  background-image: linear-gradient(to right, var(--yellow), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-purple-light {
  background-image: linear-gradient(to right, var(--blue), var(--purple)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-purple-medium {
  background-image: linear-gradient(to right, var(--blue), var(--purple)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-purple-dark {
  background-image: linear-gradient(to right, var(--blue), var(--purple)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-red-light {
  background-image: linear-gradient(to right, var(--blue), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-red-medium {
  background-image: linear-gradient(to right, var(--blue), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-red-dark {
  background-image: linear-gradient(to right, var(--blue), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-green-light {
  background-image: linear-gradient(to right, var(--blue), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-green-medium {
  background-image: linear-gradient(to right, var(--blue), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-blue-green-dark {
  background-image: linear-gradient(to right, var(--blue), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-purple-red-light {
  background-image: linear-gradient(to right, var(--purple), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-purple-red-medium {
  background-image: linear-gradient(to right, var(--purple), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-purple-red-dark {
  background-image: linear-gradient(to right, var(--purple), var(--red)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-purple-green-light {
  background-image: linear-gradient(to right, var(--purple), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-purple-green-medium {
  background-image: linear-gradient(to right, var(--purple), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-purple-green-dark {
  background-image: linear-gradient(to right, var(--purple), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-red-green-light {
  background-image: linear-gradient(to right, var(--red), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-red-green-medium {
  background-image: linear-gradient(to right, var(--red), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background-red-green-dark {
  background-image: linear-gradient(to right, var(--red), var(--green)),
    url("/images/card-bg/card_bg_multi.png");
}

.card-background {
  background-blend-mode: multiply;
}
